@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* Colors */
/* Fonts */
/* Gutter */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.gradient-btn {
  padding: 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(to bottom, #EC73DA, #9D5ADC);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 150ms;
  box-shadow: 0 5px 0 0 #C5C5C5;
}
.gradient-btn:hover {
  filter: brightness(115%);
  box-shadow: 0 13px 13px 3px rgba(119, 119, 119, 0.2);
}

.center-btn {
  display: flex;
  justify-content: center;
}
.center-btn .order-btn {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.loading-spinner {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #FFFFFF;
  opacity: 0.8;
  animation: loader 0.2s forwards 3s;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner .fa-solid {
  color: transparent;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  animation: spinner 1s infinite linear;
}

@keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .backtrack-arrow {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  top: 1.7rem;
}

header p {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}

.tutorial {
  counter-reset: step;
  margin: auto;
  max-width: 1400px;
}
.tutorial h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.tutorial ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-left: 0.5rem;
}
@media screen and (min-width: 905px) {
  .tutorial ol {
    flex-direction: row;
    gap: 2rem;
    padding: 0 1rem;
  }
}
.tutorial li {
  width: 90%;
  background-color: #F6F6F6;
  padding: 1.5rem;
  gap: 0;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  position: relative;
  transition: 100ms;
  box-shadow: 0 5px 0 0 #ECECEC;
}
.tutorial li::before {
  content: counter(step);
  counter-increment: step;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: -0.8rem;
  bottom: 1.3rem;
}
.tutorial li:hover {
  background-color: #f5edff;
  box-shadow: 0 13px 13px 3px rgba(119, 119, 119, 0.2);
  cursor: pointer;
}
.tutorial li:hover i.fa-solid {
  color: #9356DC;
}
.tutorial i {
  margin-right: 1rem;
}

.city {
  display: flex;
  background-color: #EAEAEA;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  border-top: 3px solid #e2e2e2;
}
.city__name {
  background-color: inherit;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  outline: none;
  border: none;
}
.city:hover {
  cursor: pointer;
}
.city .fa-solid {
  transition: all 200ms;
}
.city .fa-solid:hover {
  transform: scale(1.4);
}

.explore {
  display: flex;
  background-color: #F6F6F6;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2rem 0 4rem;
  margin-bottom: 2rem;
}
.explore__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.explore__titledescription {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.explore__btn {
  padding: 1rem 1.5rem;
}

.restaurant {
  padding-bottom: 2rem;
  background-color: #F6F6F6;
}
.restaurant__container {
  margin: auto;
  max-width: 1400px;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .restaurant__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
}
.restaurant__cards .new {
  position: relative;
}
.restaurant__cards .new::before {
  content: "Nouveau";
  position: absolute;
  width: 5rem;
  height: 2rem;
  background-color: #99E2D0;
  color: #31a488;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurant__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 3rem 0 1.5rem 1rem;
}
.restaurant__name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.restaurant__card {
  flex-basis: 48%;
  background-color: white;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 5px 0 0 #ECECEC;
  transition: box-shadow 0.3s ease;
}
.restaurant__card:hover {
  box-shadow: 0 13px 13px 3px rgba(119, 119, 119, 0.2);
}
.restaurant__card img {
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  object-position: center;
}
.restaurant__description {
  padding: 1rem;
  position: relative;
}
.restaurant__description h4 {
  margin-bottom: 0.3rem;
}
.restaurant__description .fa-heart {
  font-size: 1.7rem;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}
.restaurant__description .filled-heart {
  color: transparent;
  background-image: linear-gradient(#ad5edb, #e678db);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.restaurant__description .filled-heart:hover {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: scale(1.08);
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 1.5rem;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
footer h4 {
  padding: 1.3rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
}
footer .fa-utensils {
  padding-right: 0.3rem;
}
footer .fa-handshake-angle {
  font-size: 0.8rem;
  padding-right: 0.15rem;
}
footer a {
  color: white;
  padding: 0.3rem 1.5rem;
}

@keyframes check-spin {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes margin-right {
  0% {
    margin-right: -3.5rem;
  }
  100% {
    margin-right: 0;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu__category {
  flex-basis: 31%;
  margin-bottom: 2rem;
  overflow: hidden;
}
.menu__category--name {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.menu__category--name::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}
.menu__meal {
  animation: appear 1s both;
  display: flex;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #ECECEC;
  transition: box-shadow 0.3s ease;
}
.menu__meal:nth-child(2) {
  animation-delay: 400ms;
}
.menu__meal:nth-child(3) {
  animation-delay: 600ms;
}
.menu__meal:nth-child(4) {
  animation-delay: 800ms;
}
.menu__meal:nth-child(5) {
  animation-delay: 1000ms;
}
.menu__meal--check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 3.5rem;
  height: 4rem;
  margin-right: -3.5rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu__meal--check .fa-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
  padding: 0.2rem 0.25rem;
}
.menu__meal:hover {
  cursor: pointer;
  box-shadow: 0 13px 13px 3px rgba(119, 119, 119, 0.2);
}
.menu__meal:hover .menu__meal--check {
  margin-right: 0;
}
.menu__meal:hover .fa-check {
  animation: check-spin 800ms;
}
.menu__meal--description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.8rem 1rem 0 1rem;
}
.menu__meal--description h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__meal--description p {
  font-size: 0.9rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__meal--price {
  padding: 1rem 1rem 0.8rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.wallpaper img {
  display: block;
  max-width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: 50% 65%;
}
@media screen and (min-width: 1100px) {
  .wallpaper img {
    height: 50vh;
  }
}

.restaurant-menu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -2rem;
}
.restaurant-menu--container {
  padding: 1.5rem 1rem;
  position: relative;
  margin: auto;
  max-width: 1400px;
}
.restaurant-menu--container h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.restaurant-menu--container .fa-heart {
  font-size: 1.7rem;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}
.restaurant-menu--container .filled-heart {
  color: transparent;
  background-image: linear-gradient(#ad5edb, #e678db);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.restaurant-menu--container .filled-heart:hover {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: scale(1.08);
}

/*# sourceMappingURL=style.css.map */
