header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .backtrack-arrow {
        font-size: 1.3rem;
        position: absolute;
        left: 1rem;
        top: 1.7rem;
    }
}
