@use "../utils/variables";

.menu__meal--check {
    background-color: variables.$tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 3.5rem;
    height: 4rem;
    margin-right: -3.5rem;
    border-radius: 0 1rem 1rem 0;
    & .fa-check {
        background-color: white;
        border-radius: 50%;
        color: variables.$tertiary;
        padding: 0.1rem;
        animation: check-spin 500ms linear forwards;
    }
}

@keyframes check-spin {
    from {
        transform: rotate(-300deg);
    }
    to {
        transform: rotate(0deg);
    }
}