@mixin box-shadow($color) {
    box-shadow: 0 5px 5px 0 $color;
}

@mixin transition-shadow {
    box-shadow: 0px 10px 5px 0px rgba(119, 119, 119, 0.2);
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

@mixin container {
    margin: auto;
    max-width: 1400px;
}