@use "../utils/variables";

.city {
    display: flex;
    background-color: variables.$dark-background;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}