@use "../utils/mixins";

footer {
    background-color: #353535;
    color: white;
    padding-bottom: 1.5rem;
    & .footer__container {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    & h4 {
        padding: 1.3rem 1.5rem 1rem 1.5rem;
        font-size: 1.2rem;
    }
    & .fa-utensils {
        padding-right: 0.3rem;
    }
    & .fa-handshake-angle {
        font-size: 0.8rem;
        padding-right: 0.15rem;
    }
    & a {
        color: white;
        padding: 0.3rem 1.5rem ;
    }
}