@use "../utils/mixins";
@use "../utils/variables";

header p {
    font-family: variables.$header-font;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    position: relative;
    @include mixins.base-shadow(#CECECE)
}