@use "../utils/variables";
@use "../utils/mixins";

.restaurant {
    padding-bottom: 2rem;
    background-color: variables.$light-background;
    &__container {
        @include mixins.container;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        padding: variables.$gutter;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            padding: 0;
        }
        .new {
            position: relative;
            &::before {
                content: "Nouveau";
                position: absolute;
                width: 5rem;
                height: 2rem;
                background-color: variables.$tertiary;
                color: #31a488;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 1rem;
                top: 1rem;
            }
        }
    }
    &__title {
        font-family: variables.$body-font;
        font-weight: bold;
        font-size: 1.4rem;
        padding: 3rem 0 1.5rem 1rem;
    }
    &__name {
        font-family: variables.$body-font;
        font-weight: bold;
    }
    &__card {
        flex-basis: 48%;
        background-color: white;
        box-sizing: border-box;
        flex-direction: column;
        border-radius: 1rem;
        margin-bottom: 1rem;
        @include mixins.box-shadow (#ECECEC);
        transition: box-shadow 0.3s ease;
        &:hover {
            @include mixins.transition-shadow;
        }
    }
    &__card img {
        width: 100%;
        height: 11rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        object-position: center;
    }
    &__description {
        padding: 1rem;
        position: relative;
        & h4 {
            margin-bottom: 0.3rem;
        }
        & .fa-heart {
            font-size: 1.7rem;
            position: absolute;
            right: 2rem;
            top: 1.5rem;
        }
        & .filled-heart {
            color: transparent;
            background-image: linear-gradient(#ad5edb, #e678db);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 0.3s ease-out;
            &:hover {
                opacity: 1;
                transform-origin: 50% 50%;
                transform: scale(1.08);
            }
        }
    }
}