@use "../utils/variables";
@use "../utils/mixins";


.tutorial {
    counter-reset: step;
    padding: variables.$gutter;
    @include mixins.container;
    & h3 {
        font-family: variables.$body-font;
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: bold;
    }
    & ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        @media screen and (min-width: 905px) {
            flex-direction: row;
            gap: 2rem;
        }
    }
    & li {
        width: 90%;
        background-color: variables.$light-background;
        padding: 1.5rem;
        gap: 0;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        position: relative;
        transition: 100ms;
        @include mixins.base-shadow (#ECECEC);
        &::before {
            content: counter(step);
            counter-increment: step;
            color: white;
            background-color: variables.$primary;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            position: absolute;
            left: -0.8rem;
            bottom: 1.3rem;
        }
        &:hover {
            background-color: #f5edff;
            i.fa-solid {
                color: variables.$primary;
            }
        }
    }
    & i {
        margin-right: 1rem;
    }
}